@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="box">
        <div class="col-lg-12 text-center">
            <h2>
            <small>Welcome to</small>
            </h2>
            <h1>
                <span class="brand-name">SHEMO</span>
            </h1>
            <hr class="tagline-divider">
            <h2>
                <small>By <strong>Rosa Nafi Friska <font color="blue">Astari</font></strong></small>
            </h2>
        </div>
    </div>

<script type="text/javascript">
    // Author: ideal-helper.com
    // Description: Photo slideshow to add your photos and embed into your website and blog post. 

    var x=0;

    function rotate(num){
    fs=document.ff.slide;
    x=num%fs.length;
    if(x<0) x=fs.length-1;
    document.images.show.src=fs.options[x].value;
    fs.selectedIndex=x;}

    function auto() {
    if(document.ff.fa.value == "Stop"){
    rotate(++x);setTimeout("auto()", 2000);}}
    </script>
<div class="box">
    <form name="ff">
    <table align="center" cellpadding="3" style="border:0px solid;border-collapse:collapse; border-color:#C0C0C0">

    <tr><td align="center">
    <img src="~/img/slide-1.jpg" name="show">
    </td></tr>

    <tr><td align="center" style="border:0px solid; border-color:#C0C0C0">
    <input type="button" name="fa" onClick="this.value=((this.value=='Stop')?'Start':'Stop');auto();" value="Start Slidshow" title="Auto-play" style="width:150px;" />
    </td></tr>

        
    <tr><td align="center" style="border:0px solid; border-color:#C0C0C0">
    <select name="slide" onChange="rotate(this.selectedIndex);">
    <option value="~/img/slide-1.jpg"> Jembatan Suramadu </option>
    <option value="~/img/slide-2.jpg"> Tugu Pahlawan </option>
    <option value="~/img/slide-3.jpg"> Tunjungan Plaza </option>
    </select>
    </td></tr>

    </table>
  </div>