@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("show", "Wisata1"))
{
    @*Html.TextBox("bulan")*@

    <select id="kategori" name="kategori">
        <option>Bersejarah</option>
        <option>Religi</option>
        <option>Museum</option>
        <option>Monumen</option>
        <option>TamanKota</option>
        <option>Mall</option>
        <option>Alam</option>
        <option>Pasar</option>
        <option>Kuliner</option>
        <option>Golf</option>
        <option>Kampung</option>
        <option>Souvenir</option>

    </select>
    <input type="submit" value="Search" />
}

