USE [SHEMO]
GO
/****** Object:  Table [dbo].[TAKSI]    Script Date: 6/14/2014 8:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAKSI](
	[ID_Taksi] [int] NOT NULL,
	[Nama_Taksi] [varchar](20) NULL,
	[Telpon_Taksi] [varchar](15) NULL,
	[Minimum_Price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Taksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
