USE [SHEMO]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 6/14/2014 8:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROFILE](
	[ID_Profile] [int] NOT NULL,
	[Nama_Profile] [varchar](30) NOT NULL,
	[Foto_Profile] [image] NULL,
	[Deskripsi_Profile] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Profile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
